h1 {
  text-align: center;
}
.wrapper {
  max-width: 1200px;
  padding: 0 16px;
  margin: auto;
}
.navbar {
  padding: 20px;
  margin-bottom: 20px;
  background: #008cba;
  color: #fff;
  display: flex;
  justify-content: space-between;
}
